# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/pokemon-express-server/node_modules/
/pokemon-nextjs-CSR/node_modules/
/pokemon-nextjs-SSR/node_modules/
/pokemon-nextjs-SSG/node_modules/
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/pokemon-nextjs-CSR/.next/
/pokemon-nextjs-SSR/.next/
/pokemon-nextjs-SSG/.next/
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
